body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}