body {
    font-family: Arial, sans-serif;
    margin-top: 0%;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}
.content-container {
    padding-top: 56px; /* Adjust the value based on your navbar height */
}
