<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./base.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./loginpage.html">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Services</h1>
        <p>These are the services we provide.</p>
    </main>
</body>
</html>